<h3>Word spelling: <%= @word.name %><h3>

<h4>Word definition(s)</h4>
  <% if @word.definitions %>
    <ul>
      <% @word.definitions.each do |definition| %>
        <li><a href="/homepage/<%= @word.id %>/definitions/<%= definition.id %>"><%= definition.name %></a></li>
      <% end %>
    </ul>
    <% else %>
      <p>There are no definitions listed for this word yet.</p>
    <% end %>

<h4>Add a definition:</h4>
<form action ="/homepage/<%= @word.id %>/definitions/definitions_id" method="post">
  <div class="form-group">
    <label for="definiton_name">Definition of word</label>
    <input id="definition_name" name="definition_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add definition</button>
  </form>

<%# Word edit link%>
<p><a href="/homepage/<%= @word.id %>/edit">Edit word</a></p>
<p><a href="/homepage">Return to homepage</a></p>
